body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background: url('./andromeda.jpg');
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

form {
    padding: 1em;
    margin: 1em auto;
    width: 9em;
    border: 1px solid white;
    box-shadow: 7px 13px 30px -4px rgba(0,0,0,0.75)
}

h1 {
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

input, label {
    display: block;
}